
/*main.css*/

#my_image{
	text-align: center;
	height: 50px;
	width: 1100px;
}

#smash_photo{
	margin: auto 250px;
}

#my_paragraph{
	text-align: center;
	margin: auto 150px;
}


#my_bar{
	border-style: solid;
	border-radius: 5px;
	background: white;
}

#my_paragraph, #my_image{
  border: 5px solid purple;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#justyce, #michael, #esteban, #samantha{
	text-align: left;

}


body{ background:lightcyan;
font-family: 'PT Sans Narrow', sans-serif; font-size: 165% }

.heading{ 
color: black; }


#font {
	text-align: center;
	font-size: 200%;
}

#Heading-3{
	font-size: 150%;
}

#Heading-4{
	font-size: 150%
}


#float-left {float: left; margin: 30px}

#border {
	border: 5px solid;
	padding: 30px;
	border-color: rgb(0, 215, 205);
	background-color: lightblue;
}

body {
	font-size: 150%
}

#border2 {
	border: 5px solid;
	border-color: rgb(0, 215, 205);
}

#border3 {
	border: 5px solid;
	border-color: rgb(0, 215, 205);
}

#border4 {
	border: 5px solid;
	border-color: rgb(0, 215, 205);
}


.nav1 {
	animation-name: all;
}

#navbar {
	border-style: solid;
	border-radius: 5px;
	border-color: rgb(0, 215, 205);
	background-color: lightblue;
	text-align: center;

}
