body{ background:lightcyan;
	/* background: rgb(135 206 250); /*Michael's */
	/*background-color: rgb(108,195,230);  /*Esteban*/
font-family: 'PT Sans Narrow', sans-serif; font-size: 165% }

.heading{ 
color: ; }

#Heading-3{
	font-size: 150%;
}

#Heading-4{
	font-size: 160%
}




#float-left{float: left; margin: 30px}

