
body{ background:lightcyan;
font-family: 'PT Sans Narrow', sans-serif; font-size: 165% }

.heading{ 
color: ; }

#Heading-3{
	font-size: 150%;
}

#Heading-4{
	font-size: 150%
}




#float-left{float: left; margin: 30px}

